.login-form-carousel-image-size{
    height: 500px;
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
}

.carousel-heading{
    color: #ffffff;
    font-family: "avenir";
    font-weight: bold;
}
